<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to My Writing Hub!</h1>
    <p class="lead">Your one-stop solution for managing writing assignments effortlessly.</p>
    <div class="mt-4">
      <a routerLink="/assignments" class="btn btn-primary btn-lg mx-2">View Assignments</a>
      <a routerLink="/add-assignment" class="btn btn-success btn-lg mx-2">Add New Assignment</a>
    </div>
    <div class="mt-5">
      <img src="pen-paper.jpg" alt="Writing" class="img-fluid" />
    </div>
  </div>
  